/* Qs1 */
#container {
   display: grid;
   border: 2px solid #00000068;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(12, 1fr);
   gap: 10px;
}

.item {
   border: 2px solid black;
}

.header {
   grid-column: span 12;
}

.sidebar {
   grid-column: span 3;
   grid-row: span 10;
}

.navigation {
   grid-column: span 6;
}

.ads {
   grid-column: span 3;
   grid-row: span 10;
}

.main {
   grid-row: 9 span;
   grid-column: 6 span;
}

.footer {
   grid-column: 12 span;
}

/* Qs2 */
@media (max-width: 720px) {
   .header {
      grid-column: span 12;
   }

   .sidebar {
      grid-column: span 3;
      grid-row: span 9;
   }

   .navigation {
      grid-column: span 12;
      grid-row: 2;
   }

   .ads {
      grid-column: span 3;
      grid-row: 12;
   }

   .main {
      grid-row: 3/9 span;
      grid-column: 4/9 span;
   }

   .footer {
      grid-column: 9 span;

   }
}

/* Q3 */
.loader {
   border: 16px solid #f3f3f3;
   border-top: 16px solid goldenrod;
   border-radius:  50%;
   width: 120px;
   height: 120px;
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0% {
      /* Set rotation to 0 degrees */
      transform: rotate(0deg);
   }

   100% {
      /* Set rotation to 360 degrees */
      transform: rotate(360deg);
   }
}