body{
   background-color: blue;
}

#container{
   display: flex;
}
.box{
   height: 100px;
   width: 200px;
   background-color: lime;
   margin: 5px;
}
@media only screen and (max-width: 500px){
   body{
      background-color: red;

   }
   #container{
      flex-direction: column;
   }
}