#mainTopic{
   color: blue;
}
*{
   text-align: center;
}
.para{
   color: white;
   background-color: cornflowerblue;
}
.head{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
div button{
   background-color: purple;
   color: azure;
}
button:hover{
   background-color: yellow;
   color: blue;
}
p:nth-of-type(2n +1){
   color: yellow;
}
h1::first-letter{
   color: red;
}
input[type="checkbox"]:checked + label{
   /* it was not working before cuz i did not add + before label as it is sibling of input not decendant */
   color: green;
}
