h1{
   border: 2px solid black;
   width: 50%;
}
#outer{
   height: 100px;
   width: 100px;
   background-color: pink;
   margin: 10px;
}
#inner{
   height: 40px;
   width: 40px;
   background-color: cornflowerblue;
   margin-left: 10%;
}