/* Transition Shorthand
property name | duration | timing-function | delay */
div{
   width: 200px;
   height: 200px;
   background-color: aqua;
   margin: 0 auto;
   margin-top: 10px;
   transition: margin-top 2s ease-in-out 0.2s;
}
div:hover{
   background-color: red;
   border-radius: 50%;
   margin-top: 100px;
}
