#container{
   background-color: aquamarine;
   height: 500px;
   width: 700px;
}
.box{
   width: 50px;
   height: 50px;
   /* background-color: blue; */
   animation-name: myanimation;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-delay: 2s;
   animation-direction: reverse;

   /* to make it faster we can use shorthand */
   /* animation: name duration timing-function delay iteration-count direction fill-mode; */
   animation: myanimation 5s ease-in-out 3s infinite normal ;

}
@keyframes myanimation{
   from{
      background-color: red;
      color: lime;
   }
   to{
      background-color: rgb(0, 255, 0);
      transform: translate(300px,450px);
      color: red;
   }

}