h2{
   color: orange;
}
button{
   background-color: blue;
   color: white;
}
p{
   background-color: black;
   color: white;
}
h1{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #ffa511;
   text-align: center;
   font-size: 55px;
   font-weight: 900;
   letter-spacing: 2px;
   line-height: 1.5x;
   text-decoration: underline double teal;
   text-transform: uppercase;
}
