.container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.box{
   width: 50px;
   height: 50px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}