#main{
   border: 2px solid cyan;
   border-radius: 10px;
   display: flex;
   height: 400px;
   width: 400px;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-evenly;
   margin: 0 auto;
}
.box{
   width: 100px;
   height: 100px;
   background-color: gray;
   border: 2px solid black;
   border-radius: 10px;
   text-align: center;
   font-size: 50px;

}
#nav{
   height: 50px;
   width: 900px;
   font-size: 24px;
   background-color: pink;
   display: flex;
   
}
