div{
   display: flex;
   justify-content: center;
}
.heading{
   margin: 30px 0 30px 0;
}
button{
   margin-bottom: 10px;
}
.container{
   border: 2px solid black;
   width: 70vh;
   height: 30vw;
}
.container p{
   margin-top: 0px;
}